body {
    background-color: #000;
}
a {
    text-decoration: none;
    color: #fff;
    font-family: gilroy;
    font-size: 14px;
}
li {
    list-style-type: none;
}
input {
    border: none;
    background-color: rgb(56,57,57);
    color: #fff;
    width: 39px;
    font-family: gilroy;   
}
::-webkit-input-placeholder {
    color: #fff;
    font-family: gilroy;
    font-size: 14px;
}